.design{
    position: relative;
    width: 100%;
    padding: 105px 25px 270px;
    text-align: center;
    color: $Verydarkdesaturatedblue;
    font-size: 19px;
    overflow: hidden;
    @include sml{
        padding: 105px 80px 270px;
    }
    @include lgl{
        padding: 160px 165px 265px;
        
    }
    > h1{
        font-size: 26px;
        @include lgl{
            font-size: 40px;
            margin-bottom: 108px;
        }
    }
    .container{
        position: relative;
        @include lgl{
            display: flex;  
            align-items: flex-start;
        }
        > img{
            width: 126%;
            margin: 48px 0 55px 0;
            position: relative;
            left: -13%;
            @include tbl{
                width: 435.8px;
                position: initial;
            }
            @include sml{
                width: 541.8px;
                position: initial;
            }
            @include rwd(1024px){
                &.close-desktop{
                    display: none;
                }
            }
            
            @include lgl{
                &.close-mobile{
                    display: none;
                }
                position: absolute;
                width: 78%;
                top: -64%;
                left: 60%;
                
            }
           
        }
        .description{
            display: block;
            @include lgl{
                text-align: left;
                width: 44.3%;
            }
            > h2{
                font-size: 28px;
                margin: 25px 0;
                @include lgl{
                    font-size: 25px;

                }
            }
            > p{
                font-size: 18px;
            }
        }
    }
}