footer {
  width: 100%;
  background-color: $Verydarkblackblue;
  padding: 75px 25px;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  border-top-right-radius: 27vw;
  @include sml{
      grid-template-columns: 28% repeat(2, 1fr) 30%;
      grid-template-rows: repeat(2,1fr);
      border-top-right-radius: 7vw;
      text-align: left;
  }
  .logo {
    width: 103px;
    justify-self: center;
    margin-bottom: 70px;
    @include sml{
        grid-area: 1/1/2/2;

    }
  }

  .links{
      margin-bottom: 0;
      @include sml{
          padding-left: 35px;
          grid-row: 1/-1;
          margin-bottom: 10px;
      }
      > h3{
          margin-bottom: 35px;
          font-size: 16px;
          @include sml{
            margin-bottom: 42px;
          }
      }
      > p{
          margin-bottom: 10px;
          opacity: .8;
          cursor: pointer;
          &:hover{
              text-decoration: underline;
              opacity: 1;
          }
      }
  }
  .attribution{
      padding: 10px 50px;
      text-align: center;
      @include sml{
         grid-area: 2/1/3/2;
         
     }
      > a{
          color: white;
      }
  }
}
