.infrastructure {
  position: relative;
  width: 100%;
  background-color: $Verydarkblue;
  background-image: url("/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 164%;
  background-position: -122px -234px;
  padding: 61% 25px 125px;
  border-radius: 0 27vw 0 27vw;
  text-align: center;
  color: white;
  @include sml {
    height: 400px;
    background-size: 69%;
    background-position: -210px -460px;
    padding: 8% 11% 8% 50.9%;
    border-radius: 0 7vw 0 7vw;
    text-align: left;
  }
  .mobile-illustration {
    > img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0%, -45%);
      @include sml {
        width: 38%;
        transform: translate(23.1%, -12%);
      }
    }
  }
  .description {
    > h1 {
      font-size: 36.5px;
      margin-bottom: 20px;
    }

    > p {
      font-size: 17px;
      line-height: 1.7;
    }
  }
}
