.tools{
    position: relative;
    width: 100%;
    padding: 80px 25px 100px;
    text-align: center;
    color: $Verydarkdesaturatedblue;
    font-size: 19px;
    overflow: hidden;
    @include sml{
        padding: 105px 80px 100px;
    }
    @include lgl{
        padding: 20% 7% 19%;
        
    }
    .container{
        position: relative;
        @include lgl{
            display: flex;  
            flex-direction: row-reverse;
        }
        > img{
            width: 126%;
            position: relative;
            left: -13%;
            @include tbl{
                width: 435.8px;
                position: initial;
            }
            @include sml{
                width: 541.8px;
                position: initial;
            }
            @include rwd(1024px){
                &.close-desktop{
                    display: none;
                }
            }
            
            @include lgl{
                &.close-mobile{
                    display: none;
                }
                position: absolute;
                width: 79%;
                top: -40%;
                left: -31%;
                
            }
           
        }
        .description{
            display: block;
            
            @include lgl{
                text-align: left;
                width: 44.3%;
                margin-right: 4.6%;
            }
            > h2{
                font-size: 28px;
                margin-bottom: 16px;
                @include lgl{
                    font-size: 28px;
                }
            }
            > p{
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 65px;
            }
        }
    }
}