html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  line-height: 1.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 100vw;
  height: 600px;
  max-width: 100%;
  background-image: url("/images/bg-pattern-intro-mobile.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
  background-position: 35% 34%;
  background-size: 350%, 100%;
  background-repeat: no-repeat;
  padding: 55px 25px;
  border-bottom-left-radius: 27vw;
}

@media (min-width: 1025px) {
  main {
    border-bottom-left-radius: 7vw;
    background-image: url("/images/bg-pattern-intro-desktop.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
    background-position: 25% 52%;
    background-size: 220%, 100%;
    padding: 60px 11% 0 11.8%;
  }
}

@media (min-width: 481px) {
  main > nav .links-mobile {
    display: none;
  }
}

main > nav .links-mobile .logo {
  width: 84px;
}

main > nav .links-mobile .hamberger-button {
  width: 35px;
  height: 23px;
  cursor: pointer;
}

main > nav .links-mobile .hamberger-button .line {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 30px;
}

main > nav .links-mobile .hamberger-button .line2 {
  margin: 5px 0;
}

main > nav .links-mobile .hamberger-button.active .line {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform-origin: 8px 1px;
          transform-origin: 8px 1px;
}

main > nav .links-mobile .hamberger-button.active .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main > nav .links-mobile .hamberger-button.active .line2 {
  opacity: 0;
}

main > nav .links-mobile .hamberger-button.active .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main > nav .links-mobile .hamberger-menu {
  width: 100%;
  height: 100vh;
  padding: 0 25px;
  margin-top: 125px;
  background-color: #00000005;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 3;
}

main > nav .links-mobile .hamberger-menu.active {
  visibility: visible;
}

main > nav .links-mobile .hamberger-menu .container {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 3px;
  padding: 35px 25px;
  text-align: center;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu {
  margin-bottom: 25px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  color: #3f4164;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu.active {
  height: auto;
  overflow: visible;
  opacity: 0.8;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu.active .dropdown-item > p {
  font-size: 16px;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu.active .dropdown-item > img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu .dropdown-item > p {
  font-size: 17px;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu .dropdown-item > img {
  margin-left: 7px;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu .dropdown-container {
  background-color: #e6e6e6;
  color: #1f3f5b;
  padding-top: 28px;
  margin-top: 28px;
  border-radius: 3px;
  font-weight: 600;
}

main > nav .links-mobile .hamberger-menu .container .dropdown-menu .dropdown-container-item {
  font-size: 15px;
  padding-bottom: 28px;
}

main > nav .links-mobile .hamberger-menu .container > hr {
  color: #c8c8cb;
}

main > nav .links-mobile .hamberger-menu .container > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > nav .links-mobile .hamberger-menu .container > form .login {
  margin: 38px 0 22px 0;
  background: none;
  border: none;
  font-family: "overpass", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #2c2d3f;
  cursor: pointer;
}

main > nav .links-mobile .hamberger-menu .container > form .sign-up {
  width: 140px;
  height: 50px;
  background: linear-gradient(135deg, #ff8f70, #ff3d54);
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 17px;
  font-weight: 500;
  font-family: "ubuntu", sans-serif;
}

main > nav .links-desktop {
  width: 100%;
}

@media (max-width: 480px) {
  main > nav .links-desktop {
    display: none;
  }
}

main > nav .links-desktop .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > nav .links-desktop .links .logo {
  width: 101px;
  height: 45px;
}

main > nav .links-desktop .links .links-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

@media (max-width: 768px) {
  main > nav .links-desktop .links .links-menu {
    position: absolute;
    top: 18%;
    left: 41%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1025px) {
  main > nav .links-desktop .links .links-menu {
    margin-left: 57px;
  }
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop {
  margin-left: 8px;
  position: relative;
  cursor: pointer;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop.active .dropdown-item-desktop {
  opacity: 1;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop.active .dropdown-item-desktop > p {
  text-decoration: underline;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop.active .dropdown-item-desktop > img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop.active .dropdown-container {
  display: block;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-item-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  margin-right: 21px;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-item-desktop:hover {
  opacity: 1;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-item-desktop > p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-item-desktop > img {
  width: 10px;
  height: 10px;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-container {
  position: absolute;
  background-color: white;
  padding: 35px 65px 15px 25px;
  margin-top: 20px;
  left: -25px;
  border-radius: 5px;
  display: none;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-container-item {
  color: #3f4164;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

main > nav .links-desktop .links .links-menu .dropdown-menu-desktop .dropdown-container-item:hover {
  font-weight: 700;
}

main > nav .links-desktop .nav-buttons .login {
  background: none;
  border: none;
  font-family: "overpass", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

main > nav .links-desktop .nav-buttons .login:hover {
  opacity: 1;
}

main > nav .links-desktop .nav-buttons .sign-up {
  width: 138px;
  height: 50px;
  background: white;
  color: #ff3d54;
  border: none;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 700;
  font-family: "ubuntu", sans-serif;
  margin-left: 30px;
}

main > nav .links-desktop .nav-buttons .sign-up:hover {
  background: #f7007f3d;
  color: white;
}

main .hero {
  margin-top: 115px;
  text-align: center;
  color: white;
}

@media (min-width: 481px) {
  main .hero {
    margin-top: 133px;
  }
}

main .hero > h1 {
  font-size: 9.326vw;
  font-weight: 600;
}

@media (min-width: 481px) {
  main .hero > h1 {
    font-size: 59.2px;
  }
}

main .hero > p {
  margin: 10px 0 45px 0;
  font-size: 19px;
  opacity: .8;
}

@media (min-width: 481px) {
  main .hero > p {
    font-size: 20px;
  }
}

main .hero > button {
  width: 132px;
  height: 50px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "ubuntu", sans-serif;
  border-radius: 35px;
}

main .hero .free {
  border: none;
  background: white;
  color: #ff3d54;
}

main .hero .free:hover {
  background: #f7007f3d;
  color: white;
}

main .hero .learn {
  border: 1px solid white;
  background: transparent;
  color: white;
}

main .hero .learn:hover {
  background: white;
  color: #ff8f70;
}

.design {
  position: relative;
  width: 100%;
  padding: 105px 25px 70%;
  text-align: center;
  color: #3f4164;
  font-size: 19px;
  overflow: hidden;
}

@media (min-width: 769px) {
  .design {
    padding: 105px 80px 270px;
  }
}

@media (min-width: 1025px) {
  .design {
    padding: 160px 165px 180px;
  }
}

.design > h1 {
  font-size: 26px;
}

@media (min-width: 1025px) {
  .design > h1 {
    font-size: 37px;
    margin-bottom: 95px;
  }
}

.design .container {
  position: relative;
}

@media (min-width: 1025px) {
  .design .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.design .container > img {
  width: 126%;
  margin: 48px 0 55px 0;
  position: relative;
  left: -13%;
}

@media (min-width: 481px) {
  .design .container > img {
    width: 435.8px;
    position: initial;
  }
}

@media (min-width: 769px) {
  .design .container > img {
    width: 541.8px;
    position: initial;
  }
}

@media (max-width: 1024px) {
  .design .container > img.close-desktop {
    display: none;
  }
}

@media (min-width: 1025px) {
  .design .container > img {
    position: absolute;
    width: 80%;
    top: -50%;
    left: 56.5%;
  }
  .design .container > img.close-mobile {
    display: none;
  }
}

.design .container .description {
  display: block;
}

@media (min-width: 1025px) {
  .design .container .description {
    text-align: left;
    width: 44.3%;
  }
}

.design .container .description > h2 {
  font-size: 28px;
  margin-bottom: 26px;
}

@media (min-width: 1025px) {
  .design .container .description > h2 {
    font-size: 27.5px;
  }
}

.design .container .description > p {
  font-size: 15.6px;
  line-height: 1.8;
  margin-bottom: 70px;
}

.infrastructure {
  position: relative;
  width: 100%;
  background-color: #1f3f5b;
  background-image: url("/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 164%;
  background-position: -122px -234px;
  padding: 61% 25px 125px;
  border-radius: 0 27vw 0 27vw;
  text-align: center;
  color: white;
}

@media (min-width: 769px) {
  .infrastructure {
    height: 400px;
    background-size: 69%;
    background-position: -210px -460px;
    padding: 8% 11% 8% 50.9%;
    border-radius: 0 7vw 0 7vw;
    text-align: left;
  }
}

.infrastructure .mobile-illustration > img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -45%);
          transform: translate(0%, -45%);
}

@media (min-width: 769px) {
  .infrastructure .mobile-illustration > img {
    width: 38%;
    -webkit-transform: translate(23.1%, -12%);
            transform: translate(23.1%, -12%);
  }
}

.infrastructure .description > h1 {
  font-size: 36.5px;
  margin-bottom: 20px;
}

.infrastructure .description > p {
  font-size: 17px;
  line-height: 1.7;
}

.tools {
  position: relative;
  width: 100%;
  padding: 80px 25px 100px;
  text-align: center;
  color: #3f4164;
  font-size: 19px;
  overflow: hidden;
}

@media (min-width: 769px) {
  .tools {
    padding: 105px 80px 100px;
  }
}

@media (min-width: 1025px) {
  .tools {
    padding: 20% 7% 19%;
  }
}

.tools .container {
  position: relative;
}

@media (min-width: 1025px) {
  .tools .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.tools .container > img {
  width: 126%;
  position: relative;
  left: -13%;
}

@media (min-width: 481px) {
  .tools .container > img {
    width: 435.8px;
    position: initial;
  }
}

@media (min-width: 769px) {
  .tools .container > img {
    width: 541.8px;
    position: initial;
  }
}

@media (max-width: 1024px) {
  .tools .container > img.close-desktop {
    display: none;
  }
}

@media (min-width: 1025px) {
  .tools .container > img {
    position: absolute;
    width: 79%;
    top: -40%;
    left: -31%;
  }
  .tools .container > img.close-mobile {
    display: none;
  }
}

.tools .container .description {
  display: block;
}

@media (min-width: 1025px) {
  .tools .container .description {
    text-align: left;
    width: 44.3%;
    margin-right: 4.6%;
  }
}

.tools .container .description > h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

@media (min-width: 1025px) {
  .tools .container .description > h2 {
    font-size: 28px;
  }
}

.tools .container .description > p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 65px;
}

footer {
  width: 100%;
  background-color: #25252d;
  padding: 75px 25px;
  text-align: center;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-top-right-radius: 27vw;
}

@media (min-width: 769px) {
  footer {
    -ms-grid-columns: 28% (1fr)[2] 30%;
        grid-template-columns: 28% repeat(2, 1fr) 30%;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    border-top-right-radius: 7vw;
    text-align: left;
  }
}

footer .logo {
  width: 103px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 70px;
}

@media (min-width: 769px) {
  footer .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

footer .links {
  margin-bottom: 35px;
}

@media (min-width: 769px) {
  footer .links {
    margin: 0;
    padding-left: 35px;
    grid-row: 1/-1;
    margin-bottom: 10px;
  }
}

footer .links > h3 {
  margin-bottom: 35px;
  font-size: 16px;
}

@media (min-width: 769px) {
  footer .links > h3 {
    margin-bottom: 42px;
  }
}

footer .links > p {
  margin-bottom: 10px;
  opacity: .8;
  cursor: pointer;
}

footer .links > p:hover {
  text-decoration: underline;
  opacity: 1;
}

footer .attribution {
  padding: 10px 50px;
  text-align: center;
}

@media (min-width: 769px) {
  footer .attribution {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
}

footer .attribution > a {
  color: white;
}
/*# sourceMappingURL=style.css.map */